@import 'flexboxgrid';
* {box-sizing: border-box;}

html,body{
    padding: 0;
    margin:0; 
    overflow-y: hidden;   
     
}

main{
    display: inline-flex;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}   

.buttons{
    transform: scale(0.75);
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    display: flex;
    justify-content: left;
    z-index: 20;

    .mute{

    }

    .play{

    }
}

.grain{
    background-image: url("../images/grain.png");
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    // background-size: 100px 100px;
    background-repeat: repeat;
    opacity: 0.5;
}

.content{
    z-index: 0;
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh; 

}

section{
    min-width: calc(100vw);
    width: auto;
    height: 100vh; 
    display: flex;
    position: relative;
    overflow: visible;
    z-index: 0;
}

.text{
    font-family: 'Overpass Mono', monospace;
    font-size: 16;
    color:white;
    z-index: 1;
    position: absolute;
    min-width: 100px;
    max-width: 300px;
    display: none;
}

.scene{
    z-index: 0;
    position: relative;
}

.section0{

    background: linear-gradient(#174965 90%  #174965 100%);

    .shadow1{
        max-height: 100vh;
        width: auto;
        position: absolute;
    }

    .title{
        max-width: 77vw;
        max-height: 77vh;
        position: absolute;
        top:8rem;
        left: 2rem;
        }

   .actors{

        height: 90%;
        position: absolute;
        bottom:0;
        transform: translateX(40rem);
        
   }

   .nametext{
        z-index: 20;
        color: white;
        font-family: Special Elite;
        font-size: 18px;
        transform: translateY(-36rem); 
        display: none;
       
   .emma{
    transform: translateX(38rem);
    
   }
   .ryan{
    transform: translateX(59rem);

   }
    }
}

.section1{
    //act1
    background: linear-gradient(270deg, #D1C791 0%, #174965 100%);
    
    .section1-scene{
        height: 100%;
        bottom: 0px;
        width: 60vw;
        display: flex;
        align-items: flex-end;

        img{
            width: 100%;
            height: auto;
        }
        
    }
    .acts{
        //act1
        position: relative;
        height: 100vh;
        width: 200px;
        font-family: Special Elite;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        transform: translateX(20rem);
        z-index: 30;
        overflow: visible;
       }
}

.section2{

    background: #D1C791;

    .text1{
        //mia phone scene
        transform: translate(8rem, -25rem);
        text-align: center;
        line-height: 83.3%;
    }

    .text2 {
        //seb playing piano
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(55rem, -25rem);
        text-align: center;
        line-height: 83.3%;
    }

    .text3{
        //dancing scene
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(80rem, -28rem);
        text-align: center;
        line-height: 83.3%;
        z-index: 20;
    }

    .text4{
        //table talking scene
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(110rem, -27rem);
        text-align: center;
        line-height: 83.3%;
        max-width: 530px;
    }

    .text5{
        //first kiss scene
        font-family: 'Overpass Mono', monospace;
        font-size: 20px;
        color:white;
        transform: translate(190rem, -30rem);
        text-align: center;
        line-height: 83.3%;
        max-width: 700px;
    }

    .section2-scene{
        height: 100%;
        bottom: 0px;
        width: 60vw;
        display: flex;
        align-items: flex-end;
        img{
            width: 100%;
            height: auto;
        }
    }
    .scene1{
        //mia phone scene
        transform: translateX(-15rem);
        position: relative;
        max-width: 700px;
        bottom: -1rem;
    }
    .scene2{
        //seb piano scene
        max-width: 140%;
        height: 100%;
        position: relative;
        bottom: -3rem;
        transform: translateX(-30rem);
}

    .scene3{
        //dancing scene
        max-width:50%;
        position: relative;
        bottom: -10rem;
        transform: translateX(-35rem);
    }

    .scene4{
        //table scene
        width: 140%;
        position: relative;
        transform: translateX(-65rem);
        bottom: -1rem;
    }

    img.scene5{
        //kiss scene
        position: relative;
        width: 140%;
        bottom: 0;
        transform: translateX(-40rem);
        z-index: 15;
    }
}


.section3{
    background: linear-gradient(270deg, #7C698F 0%, #D1C791 97.45%);
    .acts{
        //act2
        position: relative;
        height: 100vh;
        width: 200px;
        font-family: Special Elite;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        transform: translateX(20rem);
        
    }
}

.section4{

    background: #7C698F;

    .text6{
        //keith scene
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(15rem, -20rem);
        text-align: center;
        line-height: 83.3%;
    }

    .text7{
        //lying down scene
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(50rem, -25rem);
        text-align: center;
        line-height: 83.3%;
    }

    .text8{
        //arguement scene 
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(105rem, -15rem);
        text-align: center;
        line-height: 83.3%;
    }

    .text9{
        //mia's empty play scene
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(145rem, -25rem);
        text-align: center;
        line-height: 83.3%;
        z-index: 20;
    }

    .text10{
        //sad talk scene
        font-family: 'Overpass Mono', monospace;
        font-size: 15px;
        color:white;
        transform: translate(205rem, -27rem);
        text-align: center;
        line-height: 83.3%;
        z-index: 20;
        max-width: 700px;
    }

    .section4-scene{
        height: 100%;
        bottom: 0px;
        width: 60vw;
        display: flex;
        align-items: flex-end;

        img{
            width: 100%;
            height: auto;
        }
    
        .scene6{
            //keith scene
            width: 750px;
            position: relative;
            bottom: -1rem;
            transform: translateX(-10rem);
        
        }

        .scene7{
            //lying down scene
            width: 900px;
            position: relative;
            bottom: 0;
            transform: translateX(-22rem);
        }

        .scene8{
            //arguement scene
            width: 800px;
            position: relative;
            bottom:0;
            transform: translateX(-24rem);
        }

        .scene9{
            //mia's empty play scene
            width: 800px;
            position: relative;
            bottom:-0.5rem;
            transform: translateX(-32rem);
            z-index: 7;
        }

        .scene10{
            //sad talk scene
            width: 1000px;
            position: relative;
            bottom:0;
            transform: translateX(-20rem);
            z-index: 6;
        } 
    }
}

.section5{

    background: linear-gradient(270deg, #1C7693 0%, #7C698F 97.45%);
    
    .acts{
        //act3
        position: relative;
        height: 100vh;
        //width: 200px;
        font-family: Special Elite;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        transform: translateX(30rem);
        z-index: 9;
       }
}

.section6{

    background: #1C7693;

    .text11{
        //mia's new family scene
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(25rem, -25rem);
        text-align: center;
        line-height: 83.3%;
        z-index: 20;
    }

    .text12{
        //seb's logo scene
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(75rem, -18rem);
        text-align: center;
        line-height: 83.3%;
        z-index: 20;
    }

    .text13{
        //seb jazz scene
        font-family: 'Overpass Mono', monospace;
        font-size: 16;
        color:white;
        transform: translate(112rem, -10rem);
        text-align: center;
        line-height: 83.3%;
    }

    .text14{
        //final scene
        font-family: 'Overpass Mono', monospace;
        font-size: 15px;
        color:white;
        transform: translate(150rem, -30rem);
        text-align: center;
        line-height: 83.3%;
        max-width: 700px;
    }

    .section6-scene{
        height: 100%;
        bottom: 0px;
        width: 60vw;
        display: flex;
        align-items: flex-end;
        background-color:#1C7693;

        img{
            width: 100%;
            height: auto;
        }
        .scene11{   
        //mia's new family scene
        width:900px;
        position: relative;
        bottom:0;  
        transform: translate(-10rem);
        }

        .scene12{
        //seb's logo scene
        width: 900px;
        position: relative;
        bottom:0;
        transform: translateX(-15rem);
        }
        
        .scene13{
        //seb's jazz scene 
        width: 700px;
        position: relative;
        bottom:0rem;
        transform: translateX(-25rem);
        }

        .scene14{
        //final scene
        width:600px;
        position: relative;
        bottom:-1rem;
        transform: translateX(-10rem);
        }
    }

}